@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Xanh+Mono:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    /* overflow: hidden; */
    height: 100vh;
    /* background-image: linear-gradient(to bottom, #642375 0% 60%, #3c1846 70% 100%); */
    background-image: url(/bg/bg.svg);
}

@media (min-width: 1024px) {
    * {
        cursor: none !important;
    }
}